@import "tailwindcss";

@font-face {
  font-family: 'PPNM-Medium';
  src: url('../../public/font/PPNM-Medium.woff') format("woff");
}

@font-face {
  font-family: 'PPNM-Regular';
  src: url('../../public/font/PPNM-Book.woff') format("woff");
}

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'PPNM-Regular';
  letter-spacing: .02em;
  -webkit-font-smoothing: antialiased;
}

.link {
  letter-spacing: .03em;
  font-family: 'PPNM-Medium';
  -webkit-font-smoothing: antialiased;
}